<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Launcher.My.MySettings>
            <setting name="autoUpdate_stable" serializeAs="String">
                <value>https://raw.githubusercontent.com/TheCrafters001/showdown-to-essentials/src/autoUpdate-Stable.xml</value>
            </setting>
            <setting name="autoUpdate_preRelease" serializeAs="String">
                <value>https://raw.githubusercontent.com/TheCrafters001/showdown-to-essentials/src/autoUpdate-PreRelease.xml</value>
            </setting>
        </Launcher.My.MySettings>
    </userSettings>
</configuration>